<div class="wrapper footer__navigation">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3">
            <h4 class="footer__title"><span>Sobre</span> Fiddely</h4>
            <ul>
                <li><a class="footer__links__category" href="#">Quem somos</a></li>
                <li><a class="footer__links__category" href="#">Termos e condições de uso</a></li>
                <li><a class="footer__links__category" href="#">Privacidade</a></li>
                <li><a class="footer__links__category" href="#">Código de conduta</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-3">
            <h4 class="footer__title">Donos <span>de Restaurantes</span></h4>
            <ul>
                <li><a class="footer__links__category" href="#">Quem somos</a></li>
                <li><a class="footer__links__category" href="#">Termos e condições de uso</a></li>
                <li><a class="footer__links__category" href="#">Privacidade</a></li>
                <li><a class="footer__links__category" href="#">Código de conduta</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-3">
            <h4 class="footer__title">Contato</h4>
            <ul>
                <li><a class="footer__links__category" href="#">Fale conosco</a></li>
                <li><a class="footer__links__category" href="#">Trabalhe Conosco</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="sprite hide-text icon-logo-footer">Fiddely</div>
        </div>
    </div>
</div>

<div class="footer__copy text-center">© Copyright 2018 - Fiddely - Todos os direitos reservados</div>
