<section class="slider slider--primary">
    <div class="js-primary-slider">
        
        <div class="slider--primary__item" *ngFor=" let option of sliderOptions">
            <div class="wrapper">
                <div class="slider--primary__content">
                    <img src="assets/images/banners/logo.png" alt="Logo">
                    <p class="slider--primary__content__text">Texto Texto Texto Texto Texto Texto Texto Texto Texto <br />    
                    <a [routerLink]="['/pizzariaSuperMaxx']">Clique Aqui</a>
                    </p>
                </div> 
            </div>

            <!-- SERVIÇO VAI SER CHAMADO AQUI-->
            <img src="{{option.pathImage}}" alt="Banner" />
        </div>
        
        
    </div>
</section>