<main class="search">

    <section class="search__box">
        <form action="#" class="search__box__form">
            <div class="input search__box__input">
                <input type="text" />
                <button type="submit" class="search__box__submit">
                    <svg>
                        <use xlink:href="assets/images/svg.svg#search" />
                    </svg>
                </button>
            </div>
            <button class="button search__box__button js-advanced-search-buttonAng">Busca Avancada</button>
        </form>
    </section>

    <section class="search__filter js-advanced-search-contentAng">
        <div class="wrapper search__filter__content">
            <div class="select">
                <label class="label" for="estado">Estado</label>
                <select name="estado">
                    <option value="1">SP</option>
                    <option value="2">RJ</option>
                </select>
                <svg class="arrow">
                    <use xlink:href="assets/images/svg.svg#right" />
                </svg>
            </div>
            <div class="select">
                <label class="label" for="cidade">Cidade</label>
                <select name="cidade">
                    <option value="1">Caieiras</option>
                    <option value="2">Perus</option>
                </select>
                <svg class="arrow">
                    <use xlink:href="assets/images/svg.svg#right" />
                </svg>
            </div>
            <div class="select">
                <label class="label" for="categoria">Categoria</label>
                <select name="categoria">
                    <option value="1">Todas</option>
                    <option value="2">Restaurantes</option>
                </select>
                <svg class="arrow">
                    <use xlink:href="assets/images/svg.svg#right" />
                </svg>
            </div>
            <div class="select search__filter__rating">
                <span class="label" for="cidade">Avaliacao</span>
                <svg class="star">
                    <use xlink:href="assets/images/svg.svg#star" />
                </svg>
            </div>
            <button class="button search__filter__button">Buscar</button>
        </div>
    </section>

    <section class="search__content wrapper">
        <div class="search__content__header">
            <h2 class="search__content__header__title slider__title">{{ this.search._value.search }}</h2>
            <div class="search__content__filter">
                <span class="search__content__filter--margin"><strong>496</strong> resultados</span>
                <span class="search__content__filter__select">
                    <select>
                        <optgroup label="Ordenar por">
                            <option value="1">Nome</option>
                            <option value="2">Categoria</option>
                        </optgroup>
                    </select>
                    <svg>
                        <use xlink:href="assets/images/svg.svg#right" />
                    </svg>
                </span>
                
                <span class="search__content__filter__type">
                    <span class="title">Visualizar:</span>

                    <a (click)="clickList($event)" (click)="clickEventList($event)" [ngClass]="{'selected': list}" class=" search__content__filter__icon">
                        <svg class="list">
                            <use xlink:href="assets/images/svg.svg#list" />
                        </svg>
                    </a>

                    <a (click)="clickGrid($event)" (click)="clickEventGrid($event)" [ngClass]="{'selected': grid}" class=" search__content__filter__icon">
                        <svg class="grid">
                            <use xlink:href="assets/images/svg.svg#grid" />
                        </svg>
                    </a>
                </span>
                
            </div>
        </div>
        <div id="diplaySeach" data-type="grid" class="search__content__list">
            <a href="#" class="search__content__item">
                <span class="search__content__item__image">
                    <img src="assets/images/search.jpg" />
                </span>
                <h3 class="search__content__item__title">MMartam</h3>
                <p class="search__content__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="search__content__item__rating slider--secundary__rating">
                    <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                        <use xlink:href="assets/images/svg.svg#star" />
                    </svg>
                    <div class="slider--secundary__rating__count">Nota <strong>10</strong></div>
                </div>
                <div class="search__content__item__icons slider--secundary__action">
                    <span>
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#like" />
                        </svg>
                        <span class="slider--secundary__action__count">125</span>
                    </span>
                    <span>
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#hearth" />
                        </svg>
                        <span class="slider--secundary__action__count">130</span>
                    </span>
                </div>
            </a>

            <a href="#" class="search__content__item">
                <span class="search__content__item__image">
                    <img src="assets/images/search.jpg" />
                </span>
                <h3 class="search__content__item__title">MMartam</h3>
                <p class="search__content__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="search__content__item__rating slider--secundary__rating">
                    <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                        <use xlink:href="assets/images/svg.svg#star" />
                    </svg>
                    <div class="slider--secundary__rating__count">Nota <strong>10</strong></div>
                </div>
                <div class="search__content__item__icons slider--secundary__action">
                    <span>
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#like" />
                        </svg>
                        <span class="slider--secundary__action__count">125</span>
                    </span>
                    <span>
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#hearth" />
                        </svg>
                        <span class="slider--secundary__action__count">130</span>
                    </span>
                </div>
            </a>

            <a href="#" class="search__content__item">
                <span class="search__content__item__image">
                    <img src="assets/images/search.jpg" />
                </span>
                <h3 class="search__content__item__title">MMartam</h3>
                <p class="search__content__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="search__content__item__rating slider--secundary__rating">
                    <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                        <use xlink:href="assets/images/svg.svg#star" />
                    </svg>
                    <div class="slider--secundary__rating__count">Nota <strong>10</strong></div>
                </div>
                <div class="search__content__item__icons slider--secundary__action">
                    <span>
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#like" />
                        </svg>
                        <span class="slider--secundary__action__count">125</span>
                    </span>
                    <span>
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#hearth" />
                        </svg>
                        <span class="slider--secundary__action__count">130</span>
                    </span>
                </div>
            </a>

            <a href="#" class="search__content__item">
                <span class="search__content__item__image">
                    <img src="assets/images/search.jpg" />
                </span>
                <h3 class="search__content__item__title">MMartam</h3>
                <p class="search__content__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="search__content__item__rating slider--secundary__rating">
                    <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                        <use xlink:href="assets/images/svg.svg#star" />
                    </svg>
                    <div class="slider--secundary__rating__count">Nota <strong>10</strong></div>
                </div>
                <div class="search__content__item__icons slider--secundary__action">
                    <span>
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#like" />
                        </svg>
                        <span class="slider--secundary__action__count">125</span>
                    </span>
                    <span>
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#hearth" />
                        </svg>
                        <span class="slider--secundary__action__count">130</span>
                    </span>
                </div>
            </a>

            <a href="#" class="search__content__item">
                <span class="search__content__item__image">
                    <img src="assets/images/search.jpg" />
                </span>
                <h3 class="search__content__item__title">MMartam</h3>
                <p class="search__content__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="search__content__item__rating slider--secundary__rating">
                    <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                        <use xlink:href="assets/images/svg.svg#star" />
                    </svg>
                    <div class="slider--secundary__rating__count">Nota <strong>10</strong></div>
                </div>
                <div class="search__content__item__icons slider--secundary__action">
                    <span>
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#like" />
                        </svg>
                        <span class="slider--secundary__action__count">125</span>
                    </span>
                    <span>
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#hearth" />
                        </svg>
                        <span class="slider--secundary__action__count">130</span>
                    </span>
                </div>
            </a>
        </div>

        <a href="#" class="search__more">
            <span>Carregar Mais</span>
            <svg>
                <use xlink:href="assets/images/svg.svg#refresh" />
            </svg>
        </a>
    </section>



</main>