<section class="user__review wrapper">
    <div>
        <h3 class="user__review__title">Suas <strong>Delys</strong> valem mais do que você imagina.</h3>
        <p class="user__review__text">Além de ganhos com sua fidelidade em nosso parceiros, nós da <strong>Fiddely</strong> trazemos a você mais um beneficio.</p>
        <p class="user__review__text">Agora a soma todas as saus <strong>DELYs</strong> geram descontos, prêmios ou mais <strong>DELYs</strong>.</p>
    </div>
    <div>
        <div class="user__chart">
            <span class="user__chart__currency">D$</span>
            <input
                id="response"
                class="js-knob"
                data-angleOffset="180"
                data-linecap="round"
                data-bgColor="#ffd200"
                data-fgColor="#65378d"
                data-min="0"
                data-max="99"
                value="25">
            <span class="user__chart__total">/100</span>
        </div>
    </div>
    <div>
        <app-user-mydelys-discount></app-user-mydelys-discount>
    </div>
    
</section>

<app-user-mydelys-list></app-user-mydelys-list>
