<br class="clear">
<section class="search__content wrapper">
    <div data-type="list" class="search__content__list search__content__list__comments">
        <a href="javascript:void('Comentário');" class="search__content__item">
            <h3 class="search__content__item__title">
          <img src="assets/images/search.jpg"> MMartam</h3>
            <p class="search__content__item__text"><small>12/05/2019 às 14:12</small>
                <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <hr>
            <p class="search__content__item__text secondary"><small>12/05/2019 às 14:12</small>
                <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="search__content__item__rating slider--secundary__rating">
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <div class="slider--secundary__rating__count">Nota <strong>10</strong></div>
            </div>
        </a>
        <a href="javascript:void('Comentário');" class="search__content__item">
            <h3 class="search__content__item__title"><img src="assets/images/search.jpg"> MMartam</h3>
            <p class="search__content__item__text"><small>12/05/2019 às 14:12</small>
                <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <hr>
            <p class="search__content__item__text secondary"><small>12/05/2019 às 14:12</small>
                <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="search__content__item__rating slider--secundary__rating">
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <div class="slider--secundary__rating__count">Nota <strong>10</strong></div>
            </div>
        </a>
    </div>
    <a href="#" class="search__more">
        <span>Carregar Mais</span>
        <svg>
            <use xlink:href="assets/images/svg.svg#refresh"></use>
        </svg>
    </a>
</section>
