
<main class="store">

    <section class="store__overview large bg-Promotion" style="background-image: url('assets/images/banners/6.jpg');">
        <div class="store__overview__detail">
            <div class="store__overview__header wrapper">
                <div class="store__overview__description">
                    <h4 class="store__overview__description__title">Faça parte do Fiddely para Representantes</h4>
                    <p class="store__overview__description__text">Pensando em crescer, vem com Fiddely.</p>
                    <p class="store__overview__description__text">Adiquira suas licenças, tenha uma renda extra e desenvolva seu próprio negócio. Revenda com Desconto / Lucro na Venda. Compre com Desconto. Alta Lucratividade. Entre em Contato. Sistema de treinamento. Tenha seu Próprio Negócio.</p>
                </div>
                
                <div class="store__overview__form">
                    <app-dealer-form></app-dealer-form>
                </div>
            </div>

            <!-- <ul class="store__overview__menu">
                <li><a href="#" class="selected">Como Funciona</a></li>
                <li><a href="#">Capacitação</a></li>
                <li><a href="#">Vendas</a></li>
                <li><a href="#">Rendimentos</a></li>
            </ul> -->
        </div>
    </section>

    <section class="business">
        <div class="wrapper">
            <h2 class="business__title">
                como Funciona
            </h2>
            <article class="business__steps">
                <div class="business__steps--item">
                    <img src="assets/images/first-step.svg">							
                    <h3>Cadastro</h3>
                    <p>Em "Para sua Empresa" você envia suas informações e assina nosso contrato digital.</p>
                </div>
                <div class="business__steps--item">
                    <img src="assets/images/second-step.svg">
                    <h3>configuração</h3>
                    <p>Depois, é só seguir as nossas dicas para configurar seu restaurante dentro do Fiddely.</p>
                </div>
                <div class="business__steps--item">
                    <img src="assets/images/third-step.svg">
                    <h3>Pedidos</h3>
                    <p>Feito isso, você escolhe o dia para começar a receber pedidos pelo Fiddely e vender muito.</p>
                </div>
            </article>
        </div>
    
        <article class="business__revenues">
            <div class="wrapper">
                <h2 class="title">
                    <span>Aumente seu faturamento com a gente</span>
                </h2>
                <div class="business__revenues--time">
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend maximus elementum. 
                        Aliquam non finibus purus. Donec ullamcorper eros et augue faucibus, non pulvinar quam consectetur
                    </p>
                </div>
            </div>
        </article>
    
        <article class="business__cost">
            <div class="wrapper">
                <div class="business__cost__step">
                    <div class="business__cost__step--item">
                        <img src="assets/images/basic-plan.svg">							
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="business__cost__step--item">
                        <img src="assets/images/delivery-plan.svg">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </article>
    
        <article class="business__participate">
            <div class="wrapper">
                <h2 class="title">
                    <span>O Fiddely é perfeito para o seu restaurante, seja ele do tamanho que for</span>
                </h2>
                <a href="#" class="button button__success large">Quero fazer parte</a>
            </div>
        </article>
    
        <article class="accordion">
            <div class="wrapper">
                <div class="accordion__item">
                    <div class="accordion__item__title">
                        <h2 class="title">
                            Perguntas frequentes
                        </h2>
                        <span>Tire suas dúvidas sobre o 
                            <strong>Fiddely para Restaurantes</strong>
                             e faça parte da maior foodtech da América Latina.
                        </span>
                    </div>
    
                    <div class="accordion__item__list accordeon js-accordeon">
                        <dl class="accordeon-item">
                            <!-- business__question__item__list -->
                            <dt class="accordion__item__list--question accordeon-question">
                                <!-- business__question__item__list--question -->
                                <a href="#">
                                    <span class="name">Lorem ipsum dolor sit amet?</span>
                                    <span class="ico"></span>
                                </a>
                            </dt>
                            <dd class="accordion__item__list--reply accordeon-anwser hidden">
                                <!-- business__question__item__list--reply -->
                                orem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis ante id 
                                lectus laoreet aliquam. In cursus in arcu vitae bibendum. Sed quis arcu quis 
                                dui commodo varius at eu nibh. Ut luctus posuere felis, rutrum suscipit enim 
                                ultrices et. Proin pulvinar tristique blandit. Vivamus eu dui in dolor porttitor 
                                commodo. 
                            </dd>
                        </dl>
                        <dl class="accordeon-item">
                            <!-- business__question__item__list -->
                            <dt class="accordion__item__list--question accordeon-question">
                                <!-- business__question__item__list--question -->
                                <a href="#">
                                    <span class="name">Lorem ipsum dolor sit amet?</span>
                                    <span class="ico"></span>
                                </a>
                            </dt>
                            <dd class="accordion__item__list--reply accordeon-anwser hidden">
                                <!-- business__question__item__list--reply -->
                                orem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis ante id 
                                lectus laoreet aliquam. In cursus in arcu vitae bibendum. Sed quis arcu quis 
                                dui commodo varius at eu nibh. Ut luctus posuere felis, rutrum suscipit enim 
                                ultrices et. Proin pulvinar tristique blandit. Vivamus eu dui in dolor porttitor 
                                commodo. 
                            </dd>
                        </dl>
                        <dl class="accordeon-item">
                            <!-- business__question__item__list -->
                            <dt class="accordion__item__list--question accordeon-question">
                                <!-- business__question__item__list--question -->
                                <a href="#">
                                    <span class="name">Lorem ipsum dolor sit amet?</span>
                                    <span class="ico"></span>
                                </a>
                            </dt>
                            <dd class="accordion__item__list--reply accordeon-anwser hidden">
                                <!-- business__question__item__list--reply -->
                                orem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis ante id 
                                lectus laoreet aliquam. In cursus in arcu vitae bibendum. Sed quis arcu quis 
                                dui commodo varius at eu nibh. Ut luctus posuere felis, rutrum suscipit enim 
                                ultrices et. Proin pulvinar tristique blandit. Vivamus eu dui in dolor porttitor 
                                commodo. 
                            </dd>
                        </dl>
                        <dl class="accordeon-item">
                            <!-- business__question__item__list -->
                            <dt class="accordion__item__list--question accordeon-question">
                                <!-- business__question__item__list--question -->
                                <a href="#">
                                    <span class="name">Lorem ipsum dolor sit amet?</span>
                                    <span class="ico"></span>
                                </a>
                            </dt>
                            <dd class="accordion__item__list--reply accordeon-anwser hidden">
                                <!-- business__question__item__list--reply -->
                                orem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis ante id 
                                lectus laoreet aliquam. In cursus in arcu vitae bibendum. Sed quis arcu quis 
                                dui commodo varius at eu nibh. Ut luctus posuere felis, rutrum suscipit enim 
                                ultrices et. Proin pulvinar tristique blandit. Vivamus eu dui in dolor porttitor 
                                commodo. 
                            </dd>
                        </dl>
                    </div>
    
                </div>
                
            </div>
        </article>
    
        
    
    </section>

</main>