<app-login></app-login>

<header class="header">
    <div class="header__wrapper">
        <div class="wrapper">
            <div class="header__line line__primary">
                <h1 class="header__logo">
                    <a [routerLink]="['/']"><span class="sprite icon-logo-header"></span></a>
                </h1>
                
                <div class="search">
                    <div class="search__form">
                        <input type="text"
                            (keyup)="searchOnKeyUp($event)" 
                            (keyup.enter)="searchExecute(iptSearch.value)" 
                            (blur)="searchExecute(iptSearch.value)" 
                            #iptSearch 
                            class="search__control" placeholder="Busque por promoções, lojas e muito mais..." />
                        <a (click)="searchExecute(iptSearch.value)" class="search__btn">
                            <svg>
                                <use xlink:href="assets/images/svg.svg#search" />
                            </svg>
                            <span>Buscar</span>
                        </a>
                    </div>
                    <div class="search__text">
                        <a href="#">#Sextou</a> <a href="#">#BlackFriday</a> <a href="#">#Pizza</a> <a href="#">#Lanche</a>
                    </div>
                </div>

                <div class="hamburger js-hamburger" id="hamburger-1">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>

                <div class="options">
                    <div class="options__links">
                        <a [routerLink]="['/empresa']">Para sua Empresa</a>
                        <span class="divisor">|</span>
                        <a [routerLink]="['/representante']">Seja um Representante</a>
                    </div>
                    <div class="options__text">
                        Faça parte desse grande sucesso de vendas!
                    </div>
                </div>
                
            </div>

            <div class="header__line">
				<div class="header__secundary js-hamburger-content" style="display: none;" >
                    <div class="region">
                        <app-header-region></app-header-region>
                    </div>
                    
					<div class="categories">
                        <app-header-categories></app-header-categories>
                    </div>
                    <div class="nav__primary">
                        <app-header-nav ></app-header-nav>
                    </div>
				</div>
			</div>

        </div>
    </div>
</header>
