

<app-home-slider-primary></app-home-slider-primary>


<app-home-slider-secondary></app-home-slider-secondary>

<app-home-slider-tertiary></app-home-slider-tertiary>

<app-home-slider-quaternary></app-home-slider-quaternary>

