<div class="wrapper">
    <h4 class="footer__title">Categorias</h4>
    <ul class="footer__links">
        <li><a class="footer__links__category" href="#">Categoria 1</a></li>
        <li><a class="footer__links__category" href="#">Categoria 2</a></li>
        <li><a class="footer__links__category" href="#">Categoria 3</a></li>
        <li><a class="footer__links__category" href="#">Categoria 4</a></li>
        <li><a class="footer__links__category" href="#">Categoria 5</a></li>
        <li><a class="footer__links__category" href="#">Categoria 6</a></li>
        <li><a class="footer__links__category" href="#">Categoria 7</a></li>
        <li><a class="footer__links__category" href="#">Categoria 8</a></li>
        <li><a class="footer__links__category" href="#">Categoria 9</a></li>
        <li><a class="footer__links__category" href="#">Categoria 10</a></li>
        <li><a class="footer__links__category" href="#">Categoria 11</a></li>
        <li><a class="footer__links__category" href="#">Categoria 12</a></li>
        <li><a class="footer__links__category" href="#">Categoria 13</a></li>
        <li><a class="footer__links__category" href="#">Categoria 14</a></li>
        <li><a class="footer__links__category" href="#">Categoria 15</a></li>
        <li><a class="footer__links__category" href="#">Categoria 16</a></li>
    </ul>
</div>
