
<!-- MODAL - Login -->
<a href="#modalLogin" class="hidden js-modal">modalLogin</a>
<section id="modalLogin" class="window small">
    <div class="modal-content">
        <a href="#" class="btn-primary-radius btn-primary-inline close">X
        </a>
        <div class="modal-box">
                <div class="modal-box-header">
                    <div class="modal-box-header text-center">
                        <h2>Entre ou faça seu cadastro</h2>
                    </div>
                </div>
            <div class="modal-box-body">
                <fieldset class="form">
                    <div class="form-group">
                        <label>CPF</label>
                        <input type="text" class="form-group__ipt text-center mask-cpf" placeholder="Digite seu CPF" />
                    </div>
                    <div class="form-group">
                        <label>Senha</label>
                        <input type="password" class="form-group__ipt text-center" placeholder="Digite sua Senha" />
                    </div>
                    <div class="form-group">
                        <a (click)="onLogin()" class="button button__block">Entrar</a>
                    </div>
                    <div class="form-group">
                        <a href="#" class="button button__block button__facebook">Entrar com Facebook</a>
                    </div>
                    <div class="form-group text-center">
                        <a href="#modalEsqueciSenha" class="form__link js-modal">Esqueci minha senha</a>
                    </div>
                    <div class="form-group text-center">
                        Não tem uma conta?
                        <a (click)="onClickSign()" class="button button__block button__warning">Cadastre aqui</a>
                    </div>
                </fieldset>

            </div>
        </div>
    </div>
</section>

<!-- MODAL - SENHA -->
<a href="#modalEsqueciSenha" class="hidden js-modal">modalEsqueciSenha</a>
<section id="modalEsqueciSenha" class="window small">
    <div class="modal-content">
        <a href="#" class="btn-primary-radius btn-primary-inline close">X
        </a>
        <div class="modal-box">
                <div class="modal-box-header">
                    <div class="modal-box-header text-center">
                        <h2>Esqueci minha senha</h2>
                    </div>
                </div>
            <div class="modal-box-body">
                
                <fieldset class="form">
                    <div class="form-group">
                        <label>CPF</label>
                        <input type="text" class="form-group__ipt mask-cpf text-center" placeholder="Informe seu CPF" />
                    </div>            
                    <div class="form-group">
                        <a href="#" class="button button__block">Enviar</a>
                    </div>
                </fieldset>

            </div>
        </div>
    </div>
</section>

