<section class="slider">
    <div class="slider__container slider--secundary">
        <div class="js-secundary-slider" style="padding: 0 8px 0 14px;">
            <div class="slider--secundary__item">
                <div class="slider--secundary__content">
                    <div class="slider--secundary__content__details">
                        <h3 class="slider--secundary__content__title"><a href="lojas.html">{{ restaurant.title }}</a></h3>
                        <p class="slider--secundary__content__text"><a href="lojas.html">{{ restaurant.description }}</a></p>
                    </div>
                    <div class="slider--secundary__rating">
                        <div class="slider--secundary__rating__stars">
                                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                    <use xlink:href="assets/images/svg.svg#star"/>
                                </svg>
                                <svg class="slider--secundary__rating__icon">
                                    <use xlink:href="assets/images/svg.svg#star"/>
                                </svg>
                        </div>
                        <span class="slider--secundary__rating__count">Nota <strong>7,5</strong></span>
                    </div>
                    <div class="slider--secundary__action">
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#hearth"/>
                        </svg>
                        <span class="slider--secundary__action__count">130</span>

                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#like"/>
                        </svg>
                        <span class="slider--secundary__action__count">125</span>
                    </div>
                </div>
                <img src="assets/images/restaurants/1.jpg" alt="{{ restaurant.title }}">
            </div>
            <div class="slider--secundary__item">
                <div class="slider--secundary__content">
                    <div class="slider--secundary__content__details">
                        <h3 class="slider--secundary__content__title"><a href="lojas.html">{{ restaurant.title }}</a></h3>
                        <p class="slider--secundary__content__text"><a href="lojas.html">{{ restaurant.description }}</a></p>
                    </div>
                    <div class="slider--secundary__rating">
                        <div class="slider--secundary__rating__stars">
                                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                    <use xlink:href="assets/images/svg.svg#star"/>
                                </svg>
                                <svg class="slider--secundary__rating__icon">
                                    <use xlink:href="assets/images/svg.svg#star"/>
                                </svg>
                        </div>
                        <span class="slider--secundary__rating__count">Nota <strong>7,5</strong></span>
                    </div>
                    <div class="slider--secundary__action">
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#hearth"/>
                        </svg>
                        <span class="slider--secundary__action__count">130</span>

                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#like"/>
                        </svg>
                        <span class="slider--secundary__action__count">125</span>
                    </div>
                </div>
                <img src="assets/images/restaurants/2.jpg" alt="{{ restaurant.title }}">
            </div>
            <div class="slider--secundary__item">
                <div class="slider--secundary__content">
                    <div class="slider--secundary__content__details">
                        <h3 class="slider--secundary__content__title"><a href="lojas.html">{{ restaurant.title }}</a></h3>
                        <p class="slider--secundary__content__text"><a href="lojas.html">{{ restaurant.description }}</a></p>
                    </div>
                    <div class="slider--secundary__rating">
                        <div class="slider--secundary__rating__stars">
                                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                    <use xlink:href="assets/images/svg.svg#star"/>
                                </svg>
                                <svg class="slider--secundary__rating__icon">
                                    <use xlink:href="assets/images/svg.svg#star"/>
                                </svg>
                        </div>
                        <span class="slider--secundary__rating__count">Nota <strong>7,5</strong></span>
                    </div>
                    <div class="slider--secundary__action">
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#hearth"/>
                        </svg>
                        <span class="slider--secundary__action__count">130</span>

                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#like"/>
                        </svg>
                        <span class="slider--secundary__action__count">125</span>
                    </div>
                </div>
                <img src="assets/images/restaurants/3.jpg" alt="{{ restaurant.title }}">
            </div>
            <div class="slider--secundary__item">
                <div class="slider--secundary__content">
                    <div class="slider--secundary__content__details">
                        <h3 class="slider--secundary__content__title"><a href="lojas.html">{{ restaurant.title }}</a></h3>
                        <p class="slider--secundary__content__text"><a href="lojas.html">{{ restaurant.description }}</a></p>
                    </div>
                    <div class="slider--secundary__rating">
                        <div class="slider--secundary__rating__stars">
                                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                    <use xlink:href="assets/images/svg.svg#star"/>
                                </svg>
                                <svg class="slider--secundary__rating__icon">
                                    <use xlink:href="assets/images/svg.svg#star"/>
                                </svg>
                        </div>
                        <span class="slider--secundary__rating__count">Nota <strong>7,5</strong></span>
                    </div>
                    <div class="slider--secundary__action">
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#hearth"/>
                        </svg>
                        <span class="slider--secundary__action__count">130</span>

                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#like"/>
                        </svg>
                        <span class="slider--secundary__action__count">125</span>
                    </div>
                </div>
                <img src="assets/images/restaurants/4.jpg" alt="{{ restaurant.title }}">
            </div>
            <div class="slider--secundary__item">
                <div class="slider--secundary__content">
                    <div class="slider--secundary__content__details">
                        <h3 class="slider--secundary__content__title"><a href="lojas.html">{{ restaurant.title }}</a></h3>
                        <p class="slider--secundary__content__text"><a href="lojas.html">{{ restaurant.description }}</a></p>
                    </div>
                    <div class="slider--secundary__rating">
                        <div class="slider--secundary__rating__stars">
                                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                    <use xlink:href="assets/images/svg.svg#star"/>
                                </svg>
                                <svg class="slider--secundary__rating__icon">
                                    <use xlink:href="assets/images/svg.svg#star"/>
                                </svg>
                        </div>
                        <span class="slider--secundary__rating__count">Nota <strong>7,5</strong></span>
                    </div>
                    <div class="slider--secundary__action">
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#hearth"/>
                        </svg>
                        <span class="slider--secundary__action__count">130</span>

                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#like"/>
                        </svg>
                        <span class="slider--secundary__action__count">125</span>
                    </div>
                </div>
                <img src="assets/images/restaurants/5.jpg" alt="{{ restaurant.title }}">
            </div>
            <div class="slider--secundary__item">
                <div class="slider--secundary__content">
                    <div class="slider--secundary__content__details">
                        <h3 class="slider--secundary__content__title"><a href="lojas.html">{{ restaurant.title }}</a></h3>
                        <p class="slider--secundary__content__text"><a href="lojas.html">{{ restaurant.description }}</a></p>
                    </div>
                    <div class="slider--secundary__rating">
                        <div class="slider--secundary__rating__stars">
                                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                    <use xlink:href="assets/images/svg.svg#star"/>
                                </svg>
                                <svg class="slider--secundary__rating__icon">
                                    <use xlink:href="assets/images/svg.svg#star"/>
                                </svg>
                        </div>
                        <span class="slider--secundary__rating__count">Nota <strong>7,5</strong></span>
                    </div>
                    <div class="slider--secundary__action">
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#hearth"/>
                        </svg>
                        <span class="slider--secundary__action__count">130</span>

                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#like"/>
                        </svg>
                        <span class="slider--secundary__action__count">125</span>
                    </div>
                </div>
                <img src="assets/images/restaurants/6.jpg" alt="{{ restaurant.title }}">
            </div>
            <div class="slider--secundary__item">
                <div class="slider--secundary__content">
                    <div class="slider--secundary__content__details">
                        <h3 class="slider--secundary__content__title"><a href="lojas.html">{{ restaurant.title }}</a></h3>
                        <p class="slider--secundary__content__text"><a href="lojas.html">{{ restaurant.description }}</a></p>
                    </div>
                    <div class="slider--secundary__rating">
                        <div class="slider--secundary__rating__stars">
                                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                    <use xlink:href="assets/images/svg.svg#star"/>
                                </svg>
                                <svg class="slider--secundary__rating__icon">
                                    <use xlink:href="assets/images/svg.svg#star"/>
                                </svg>
                        </div>
                        <span class="slider--secundary__rating__count">Nota <strong>7,5</strong></span>
                    </div>
                    <div class="slider--secundary__action">
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#hearth"/>
                        </svg>
                        <span class="slider--secundary__action__count">130</span>

                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#like"/>
                        </svg>
                        <span class="slider--secundary__action__count">125</span>
                    </div>
                </div>
                <img src="assets/images/restaurants/7.jpg" alt="{{ restaurant.title }}">
            </div>
        </div>
    </div>
</section>

