<main class="store">

    <section class="store__overview Storelarge" style="background-image: url('assets/images/uploads/pizzariasupermaxx/banner_cut.jpg');">
        <div class="store__overview__detail">
            <div class="store__overview__header wrapper">
                <div class="store__overview__description store">
                    <h4 class="store__overview__description__title">{{ this.storeId._value.storeId }}</h4>
                    <p class="store__overview__description__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                </div>
                <div class="store__overview__logo">
                    <img src="assets/images/uploads/pizzariasupermaxx/logo.jpg" alt="Loja 1">
                </div>
                <div class="store__overview__social">
                    <a href="#" class="store__overview__social__hashtag">#fiddelyNa<span>TANIT</span></a>
                    <div class="store__overview__social__network">
                        <a href="#">
                            <svg>
                                <use xlink:href="assets/images/svg.svg#facebook" />
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="assets/images/svg.svg#instagram" />
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="assets/images/svg.svg#twitter" />
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="assets/images/svg.svg#pinterest" />
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="assets/images/svg.svg#linkedin" />
                            </svg>
                        </a>
                        <a href="#">
                            <svg>
                                <use xlink:href="assets/images/svg.svg#youtube" />
                            </svg>
                        </a>
                    </div>
                    <a href="#" class="store__overview__social__url">
                        Acesse o meu <span>Site</span>
                        <svg>
                            <use xlink:href="assets/images/svg.svg#world" />
                        </svg>
                    </a>
                </div>
            </div>

            <ul class="store__overview__menu">
                <li><a [routerLink]="['/lojas.html']" (click)="clickEventActive($event)" [ngClass]="{'selected': status}">Home</a></li>
                <li><a [routerLink]="['produtos']" (click)="clickEvent($event)" routerLinkActive="selected">Produtos</a></li>
                <li><a [routerLink]="['promocoes']" (click)="clickEvent($event)" routerLinkActive="selected">Promoções</a></li>
                <li><a [routerLink]="['comentarios']" (click)="clickEvent($event)" routerLinkActive="selected">Comentários</a></li>
            </ul>
        </div>
    </section>
    
    <router-outlet></router-outlet>

</main>
