<!--  -->
<div *ngIf="!this._commonUser.userClientStatus">
    <a [routerLink]="['/']">Home</a>
    <span class="divisor">|</span>
    <a [routerLink]="['/promocoes']">Promoções</a>
    <span class="divisor">|</span>
    <a [routerLink]="['/cadastro']">Cadastre-se</a>
    <span class="divisor">|</span>
    <a (click)="openModalLogin()">Entrar</a>
</div>

<!--  -->
<div *ngIf="this._commonUser.userClientStatus">
    <a [routerLink]="['/']">Home</a>
    <span class="divisor">|</span>
    <a [routerLink]="['/promocoes']">Promoções</a>
    <span class="divisor">|</span>
    <span class="user__nav">
        <a class="user__name"[routerLink]="['/perfil']">Olá, {{ this._commonUser.usrName }}</a>
        <div class="user__option">
            <span class="user__arrow">&nbsp;</span>
            <a href="usuario-dados.html">Perfil</a>
            <a href="usuario-cupons.html">Cupons</a>
            <a href="usuario-resgates.html">Resgates</a>
            <a href="usuario-comentario.html">Comentários</a>
            <a (click)="onLogout()">Sair</a>
        </div>
    </span>
</div>