<section class="store__main">
    <div class="wrapper">
        <div class="store__main__total">
            <h3 class="store__main__total__title">Confira seus <strong>Delys</strong></h3>
            <div class="store__main__price">
                <div class="store__main__price__value">
                    <p class="store__main__price__value__total">Total <span>de <strong>DELY</strong></span></p>
                    <p class="store__main__price__value__number"><span>D$</span> <strong>22</strong></p>
                    <a class="store__main__price__value__link" href="#">Ver Detalhado</a>
                </div>
                <div class="store__main__price__progress">
                    <ul class="store__main__price__bar">
                        <li class="first">
                            <span class="stars store__main__price__stars">
                                <svg>
                                    <use xlink:href="assets/images/svg.svg#star" />
                                </svg>
                            </span>
                            <span class="store__main__price__line"></span>
                            <span class="store__main__price__number store__main__price__number--selected">5</span>
                        </li>
                        <li class="center">
                            <span class="stars store__main__price__stars">
                                <svg>
                                    <use xlink:href="assets/images/svg.svg#star" />
                                </svg>
                            </span>
                            <span class="store__main__price__line"></span>
                            <span class="store__main__price__number">12</span>
                        </li>
                        <li class="last">
                            <span class="stars store__main__price__stars">
                                <svg>
                                    <use xlink:href="assets/images/svg.svg#star" />
                                </svg>
                            </span>
                            <span class="store__main__price__line"></span>
                            <span class="store__main__price__number">22</span>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="store__main__total__date">Válido de 01/09 a 30/12</p>
        </div>

        <div class="store__awards">
            <h3 class="store__awards__title">
                <span>Prêmios</span>
                <svg>
                    <use xlink:href="assets/images/svg.svg#star" />
                </svg>
            </h3>
            <ul class="store__awards__list">
                <li class="store__awards__item store__awards__item--first">
                    <div class="store__awards__item__image">
                        <img src="assets/images/award.png">
                    </div>
                    <h4 class="store__awards__item__title">Sobremesa</h4>
                    <p class="store__awards__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>
                    <a class="store__awards__item__link" href="#">Resgatar</a>
                </li>
                <li class="store__awards__item store__awards__item--first">
                    <div class="store__awards__item__image">
                        <img src="assets/images/award.png">
                    </div>
                    <h4 class="store__awards__item__title">Sobremesa</h4>
                    <p class="store__awards__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>
                    <a class="store__awards__item__link" href="#">Resgatar</a>
                </li>
                <li class="store__awards__item store__awards__item--first">
                    <div class="store__awards__item__image">
                        <img src="assets/images/award.png">
                    </div>
                    <h4 class="store__awards__item__title">Sobremesa</h4>
                    <p class="store__awards__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>
                    <a class="store__awards__item__link" href="#">Resgatar</a>
                </li>
                <li class="store__awards__item store__awards__item--first">
                    <div class="store__awards__item__image">
                        <img src="assets/images/award.png">
                    </div>
                    <h4 class="store__awards__item__title">Sobremesa</h4>
                    <p class="store__awards__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>
                    <a class="store__awards__item__link" href="#">Resgatar</a>
                </li>
            </ul>

            <h3 class="store__awards__title">
                <span>Prêmios</span>
                <svg>
                    <use xlink:href="assets/images/svg.svg#star" />
                </svg>
                <svg>
                    <use xlink:href="assets/images/svg.svg#star" />
                </svg>
            </h3>
            <ul class="store__awards__list">
                <li class="store__awards__item store__awards__item--first">
                    <div class="store__awards__item__image">
                        <img src="assets/images/award.png">
                    </div>
                    <h4 class="store__awards__item__title">Sobremesa</h4>
                    <p class="store__awards__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>
                    <a class="store__awards__item__link" href="#">Resgatar</a>
                </li>
                <li class="store__awards__item store__awards__item--first">
                    <div class="store__awards__item__image">
                        <img src="assets/images/award.png">
                    </div>
                    <h4 class="store__awards__item__title">Sobremesa</h4>
                    <p class="store__awards__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>
                    <a class="store__awards__item__link" href="#">Resgatar</a>
                </li>
                <li class="store__awards__item store__awards__item--first">
                    <div class="store__awards__item__image">
                        <img src="assets/images/award.png">
                    </div>
                    <h4 class="store__awards__item__title">Sobremesa</h4>
                    <p class="store__awards__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>
                    <a class="store__awards__item__link" href="#">Resgatar</a>
                </li>
                <li class="store__awards__item store__awards__item--first">
                    <div class="store__awards__item__image">
                        <img src="assets/images/award.png">
                    </div>
                    <h4 class="store__awards__item__title">Sobremesa</h4>
                    <p class="store__awards__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>
                    <a class="store__awards__item__link" href="#">Resgatar</a>
                </li>
            </ul>

            <h3 class="store__awards__title">
                <span>Prêmios</span>
                <svg>
                    <use xlink:href="assets/images/svg.svg#star" />
                </svg>
                <svg>
                    <use xlink:href="assets/images/svg.svg#star" />
                </svg>
                <svg>
                    <use xlink:href="assets/images/svg.svg#star" />
                </svg>
            </h3>
            <ul class="store__awards__list">
                <li class="store__awards__item store__awards__item--first">
                    <div class="store__awards__item__image">
                        <img src="assets/images/award.png">
                    </div>
                    <h4 class="store__awards__item__title">Sobremesa</h4>
                    <p class="store__awards__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>
                    <a class="store__awards__item__link" href="#">Resgatar</a>
                </li>
                <li class="store__awards__item store__awards__item--first">
                    <div class="store__awards__item__image">
                        <img src="assets/images/award.png">
                    </div>
                    <h4 class="store__awards__item__title">Sobremesa</h4>
                    <p class="store__awards__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>
                    <a class="store__awards__item__link" href="#">Resgatar</a>
                </li>
                <li class="store__awards__item store__awards__item--first">
                    <div class="store__awards__item__image">
                        <img src="assets/images/award.png">
                    </div>
                    <h4 class="store__awards__item__title">Sobremesa</h4>
                    <p class="store__awards__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>
                    <a class="store__awards__item__link" href="#">Resgatar</a>
                </li>
                <li class="store__awards__item store__awards__item--first">
                    <div class="store__awards__item__image">
                        <img src="assets/images/award.png">
                    </div>
                    <h4 class="store__awards__item__title">Sobremesa</h4>
                    <p class="store__awards__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing eliy.</p>
                    <a class="store__awards__item__link" href="#">Resgatar</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="store__stores">
        <h3 class="store__title">Lojas</h3>
        <ul class="store__stores__nav">
            <li><a href="#" class="selected">Loja 01</a></li>
            <li><a href="#">Loja 02</a></li>
            <li><a href="#">Loja 03</a></li>
        </ul>
        <div class="store__stores__time">
            <div class="wrapper">
                <ul class="store__stores__time__items">
                    <li>
                        <h5 class="store__stores__time__title">Horário</h5>
                        <p class="store__stores__time__text">Aberto <span>22:00</span></p>
                    </li>
                    <li>
                        <h5 class="store__stores__time__title">Endereço</h5>
                        <p class="store__stores__time__text store__stores__time__text--small"><small>R. Teodoro de Beaurepaire, 362 <br>Sacomã, São Paulo - SP, 04279-030</small></p>
                    </li>
                    <li>
                        <h5 class="store__stores__time__title">Telefone</h5>
                        <p class="store__stores__time__text">(11) 5062 - 7132</p>
                    </li>
                </ul>
            </div>
            <img src="assets/images/maps.png">
        </div>
    </div>

    <div class="slider slider--comments">
        <h3 class="store__title">Comentários</h3>
        <div class="wrapper">
            <div class="js-comments-slider">
                <div>
                    <div class="slider__item slider--comments__item"><img class="slider--comments__item__photo" src="assets/images/photo.png" alt="Karine">
                        <h4 class="slider--comments__item__name">Karine</h4>
                        <p class="slider--comments__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magn.</p>
                    </div>
                </div>
                <div>
                    <div class="slider__item slider--comments__item"><img class="slider--comments__item__photo" src="assets/images/photo.png" alt="Josefa">
                        <h4 class="slider--comments__item__name">Josefa</h4>
                        <p class="slider--comments__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magn.</p>
                    </div>
                </div>
                <div>
                    <div class="slider__item slider--comments__item"><img class="slider--comments__item__photo" src="assets/images/photo.png" alt="Karine">
                        <h4 class="slider--comments__item__name">Karine</h4>
                        <p class="slider--comments__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magn.</p>
                    </div>
                </div>
                <div>
                    <div class="slider__item slider--comments__item"><img class="slider--comments__item__photo" src="assets/images/photo.png" alt="Karine">
                        <h4 class="slider--comments__item__name">Karine</h4>
                        <p class="slider--comments__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magn.</p>
                    </div>
                </div>
                <div>
                    <div class="slider__item slider--comments__item"><img class="slider--comments__item__photo" src="assets/images/photo.png" alt="Karine">
                        <h4 class="slider--comments__item__name">Karine</h4>
                        <p class="slider--comments__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magn.</p>
                    </div>
                </div>
                <div>
                    <div class="slider__item slider--comments__item"><img class="slider--comments__item__photo" src="assets/images/photo.png" alt="Karine">
                        <h4 class="slider--comments__item__name">Karine</h4>
                        <p class="slider--comments__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magn.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="store__tags">
        <div class="wrapper">
            <h3 class="store__tags__title">Tags</h3>
            <a class="store__tags__item" href="#">Karine</a>
            <a class="store__tags__item" href="#">Josefa</a>
        </div>
    </div>
</section>
