<div class="wrapper footer__cities">
    <h4 class="footer__title">Cidades <span>Participantes</span></h4>
    <ul>
        <li *ngFor="let option of cityOptions">
            {{option.city}}
        </li>
    </ul>
</div>


