
<span class="categories__link">
    <span>Categorias
        <svg>
            <use xlink:href="assets/images/svg.svg#left" />
        </svg>
    </span>


    <div class="categories__box">
        <ul>
            <li *ngFor="let option of categoryOptions">
                <a routerLink="busca/{{option.category1}}">{{option.category1}}</a>
            </li>
        </ul>
    </div>
</span>

<!-- <span class="categories__link">
    <span>Categorias
        <svg>
            <use xlink:href="assets/images/svg.svg#left" />
        </svg>
    </span>
    
    <div class="categories__box">
        <a href="#">Automotivos</a>
        <a href="#">Esportes</a>
        <a href="#">Restaurantes</a>
        <a href="#">Imóveis</a>
        <a href="#">Bebês e Crianças</a>
        <a href="#">Livros</a>
        <a href="#">Saúde e Beleza</a>
        <a href="#">Moda e Acessórios</a>
        <a href="#">Câmeras e Fotografia</a>
        <a href="#">Tecnolgia e Informática</a>
        <a href="#">TV, Som e Vídeo</a>
        <a href="#">Móveis e Decoração</a>
        <a href="#">Entretenimento e Lazer</a>
        <a href="#">Celulars e Smartphones</a>
        <a href="#">Outros</a>
        <a href="#">Presentes e Serviços</a>
        <a href="#">Papelaria</a>
    </div>
</span> -->