<section class="wrapper user__content">
    <article class="user__content__item">
        <div class="user__content__item__image"><img src="assets/images/banners/logo.png"></div>
        <div class="user__content__item__info">
            <div class="user__content__item__price"><span><small>D$</small> 22</span>
                <p>Válido de 01/09 a 30/12</p>
            </div>
            <div class="user__content__item__rating">
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
            </div>
        </div><a href="#" class="user__content__item__link">Veja mais</a></article>
    <article class="user__content__item">
        <div class="user__content__item__image"><img src="assets/images/banners/logo.png"></div>
        <div class="user__content__item__info">
            <div class="user__content__item__price"><span><small>D$</small> 22</span>
                <p>Válido de 01/09 a 30/12</p>
            </div>
            <div class="user__content__item__rating">
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
            </div>
        </div><a href="#" class="user__content__item__link">Veja mais</a></article>
    <article class="user__content__item">
        <div class="user__content__item__image"><img src="assets/images/banners/logo.png"></div>
        <div class="user__content__item__info">
            <div class="user__content__item__price"><span><small>D$</small> 22</span>
                <p>Válido de 01/09 a 30/12</p>
            </div>
            <div class="user__content__item__rating">
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
            </div>
        </div><a href="#" class="user__content__item__link">Veja mais</a></article>
    <article class="user__content__item">
        <div class="user__content__item__image"><img src="assets/images/banners/logo.png"></div>
        <div class="user__content__item__info">
            <div class="user__content__item__price"><span><small>D$</small> 22</span>
                <p>Válido de 01/09 a 30/12</p>
            </div>
            <div class="user__content__item__rating">
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
            </div>
        </div><a href="#" class="user__content__item__link">Veja mais</a></article>
    <article class="user__content__item">
        <div class="user__content__item__image"><img src="assets/images/banners/logo.png"></div>
        <div class="user__content__item__info">
            <div class="user__content__item__price"><span><small>D$</small> 22</span>
                <p>Válido de 01/09 a 30/12</p>
            </div>
            <div class="user__content__item__rating">
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
            </div>
        </div><a href="#" class="user__content__item__link">Veja mais</a></article>
    <article class="user__content__item">
        <div class="user__content__item__image"><img src="assets/images/banners/logo.png"></div>
        <div class="user__content__item__info">
            <div class="user__content__item__price"><span><small>D$</small> 22</span>
                <p>Válido de 01/09 a 30/12</p>
            </div>
            <div class="user__content__item__rating">
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
            </div>
        </div><a href="#" class="user__content__item__link">Veja mais</a></article>
    <article class="user__content__item">
        <div class="user__content__item__image"><img src="assets/images/banners/logo.png"></div>
        <div class="user__content__item__info">
            <div class="user__content__item__price"><span><small>D$</small> 22</span>
                <p>Válido de 01/09 a 30/12</p>
            </div>
            <div class="user__content__item__rating">
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
            </div>
        </div><a href="#" class="user__content__item__link">Veja mais</a></article>
    <article class="user__content__item">
        <div class="user__content__item__image"><img src="assets/images/banners/logo.png"></div>
        <div class="user__content__item__info">
            <div class="user__content__item__price"><span><small>D$</small> 22</span>
                <p>Válido de 01/09 a 30/12</p>
            </div>
            <div class="user__content__item__rating">
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
            </div>
        </div><a href="#" class="user__content__item__link">Veja mais</a></article>
    <article class="user__content__item">
        <div class="user__content__item__image"><img src="assets/images/banners/logo.png"></div>
        <div class="user__content__item__info">
            <div class="user__content__item__price"><span><small>D$</small> 22</span>
                <p>Válido de 01/09 a 30/12</p>
            </div>
            <div class="user__content__item__rating">
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
                <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                    <use xlink:href="assets/images/svg.svg#star"></use>
                </svg>
            </div>
        </div><a href="#" class="user__content__item__link">Veja mais</a></article>
</section>
