        <section class="user__review wrapper form__primary">
            <!-- <div>&nbsp;</div> -->
            <div class="two__collumns" style="flex:1">
                <article class="search__filter filter__radius search__filter__form search__filter__opacity" style="display: block">
                    <div class="wrapper wrapper__content">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="form__control">
                                    <label class="label">*CPF</label>
                                    <input type="text" class="mask-cpf"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
		
                            <div class="col-xs-12 col-sm-6">
                                <div class="form__control">
                                    <label class="label">*Nome</label>
                                    <input type="text"/>
                                </div>
                            </div>
    
                            <div class="col-xs-12 col-sm-6">
                                <div class="form__control">
                                    <label class="label">*Sobrenome</label>
                                    <input type="text"/>
                                </div>
                            </div>
        
                            <div class="col-xs-12 col-sm-6">
                                <div class="form__control">
                                    <label class="label">*Data de Nascimento</label>
                                    <input type="text" class="mask-date js-date-valid"/>
                                </div>
                            </div>
    
                            <div class="col-xs-12 col-sm-6">
                                <div class="form__control">
                                    <fieldset data-role="controlgroup">
                                        <label class="label">*Sexo</label>
                                        <div class="form__control__opt">
                                            <label class="form-group form-ctrl-opt">
                                                <input type="radio" name="sexo" />
                                                <span class="ctrl-fake ctrl-fake--top"></span>
                                                <span class="form-group__lbl">Feminino</span>
                                            </label>
                                            <label class="form-group form-ctrl-opt">
                                                <input type="radio" name="sexo" />
                                                <span class="ctrl-fake ctrl-fake--top"></span>
                                                <span class="form-group__lbl">Masculino</span>
                                            </label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
    
                            <div class="col-xs-12 col-sm-6">
                                <div class="form__control">
                                    <label class="label">*E-mail</label>
                                    <input type="text"/>
                                </div>
                            </div>
    
                            <div class="col-xs-12 col-sm-6">
                                <div class="form__control">
                                    <label class="label">*Telefone</label>
                                    <input type="text" class="mask-phone"/>
                                </div>
                            </div>
    
                            <div class="col-xs-6">
                                <div class="form__control">
                                    <label class="label">*Estado</label>
                                    <select class="js-combo-uf"></select>
                                </div>
                            </div>
    
                            <div class="col-xs-6">
                                <div class="form__control">
                                    <label class="label">*Cidade</label>
                                    <select class="js-combo-cidade"></select>
                                </div>
                            </div>
    
                            <div class=" col-xs-12 col-sm-6">
                                <div class="form__control">
                                    <label class="label">*Senha</label>
                                    <input type="password" class="mask-senha" />
                                </div>
                            </div>
    
                            <div class="col-xs-12 col-sm-6">
                                <div class="form__control">
                                    <label class="label">*Confirmar Senha</label>
                                    <input type="password" class="mask-senha-confirm" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form__control">
                                    <div class="form__control__opt">
                                        <label class="form-group form-ctrl-opt">
                                            <input type="checkbox" name="push"> <span class="ctrl-fake ctrl-fake--top"></span> <span class="form-group__lbl">Aceito receber Email</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="captcha">
                                    <div class="g-recaptcha" data-sitekey="6Le6GJMUAAAAAKTksrrl1o7GTxVKFZOXX1ecHYhL" data-callback="verifyCallback"></div>
                                </div>
                            </div>
                        </div>
                        <br class="clear">
                        <div class="text-center block"><a href="#" class="button button button__block">Cadastrar</a>
                            
                        </div>
                    </div>
                </article>
                <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
            </div>
        </section>
