<main class="user user__cadastro">
			
    <section class="user__review wrapper form__primary">

        <div>
            &nbsp;
            <!-- <h3 class="user__review__title">Faça seu <strong>Cadastro</strong> e garanta vantagens que valem mais do que você imagina.</h3>
            <p class="user__review__text">Além de ganhos com sua fidelidade em nosso parceiros, nós da <strong>Fiddely</strong> trazemos a você mais um beneficio.</p>
            <p class="user__review__text">Agora a soma todas as suas <strong>DELYs</strong> geram descontos, prêmios ou mais <strong>DELYs</strong>.</p> -->
        </div>
    
        <div class="two__collumns" style=" flex:1;">
            <article class="search__filter filter__radius search__filter__form search__filter__opacity" style="display: block;">
                <!-- <form [formGroup]="formularioDeUsuario" (ngSubmit)="enviarDados()"> -->
                <form class="wrapper wrapper__content" #f="ngForm">
                    <h2 class="user__review__title--primary">Cadastro</h2>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form__control">
                                <label class="label">*CPF</label>
                                <input type="text" class="mask-cpf" name="cpf" ngModel />
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-12 col-sm-6">
                            <div class="form__control">
                                <label class="label">*Nome</label>
                                <input type="text" name="firstName" ngModel />
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form__control">
                                <label class="label">*Sobrenome</label>
                                <input type="text" name="lastName" ngModel />
                            </div>
                        </div>
    
                        <div class="col-xs-12 col-sm-6">
                            <div class="form__control">
                                <label class="label">*Data de Nascimento</label>
                                <input type="text" class="mask-date js-date-valid" name="birthday" ngModel />
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form__control">
                                <fieldset data-role="controlgroup">
                                    <label class="label">*Sexo</label>
                                    <div class="form__control__opt">
                                        <label class="form-group form-ctrl-opt">
                                            <input type="radio" name="sex" value="f" ngModel />
                                            <span class="ctrl-fake ctrl-fake--top"></span>
                                            <span class="form-group__lbl">Feminino</span>
                                        </label>
                                        <label class="form-group form-ctrl-opt">
                                            <input type="radio" name="sex" value="m" ngModel />
                                            <span class="ctrl-fake ctrl-fake--top"></span>
                                            <span class="form-group__lbl">Masculino</span>
                                        </label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form__control">
                                <label class="label">*E-mail</label>
                                <input type="text" name="email" ngModel />
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form__control">
                                <label class="label">*Telefone</label>
                                <input type="text" class="mask-phone" name="telephone" ngModel/>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form__control">
                                <label class="label">*Estado</label>
                                <select class="js-combo-uf"></select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form__control">
                                <label class="label">*Cidade</label>
                                <select class="js-combo-cidade"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-12 col-sm-6">
                            <div class="form__control">
                                <label class="label">*Senha</label>
                                <input type="text" class="mask-senha" name="password" ngModel />
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form__control">
                                <label class="label">*Confirmar Senha</label>
                                <input type="text" class="mask-senha-confirm" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form__control">
                                <div class="form__control__opt">
                                    <label class="form-group form-ctrl-opt">
                                        <input type="checkbox" name="push" />
                                        <span class="ctrl-fake ctrl-fake--top"></span>
                                        <span class="form-group__lbl">Aceito receber Email</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-md-12">
                            <div class="captcha">
                                <div class="g-recaptcha" data-sitekey="6Le6GJMUAAAAAKTksrrl1o7GTxVKFZOXX1ecHYhL" data-callback="verifyCallback"></div>
                            </div>
                        </div>
                    </div>

                    <br class="clear" />

                    <div class="text-center block">
                        <a class="button button button__block" (click)="onSubmit(f)">Cadastrar</a> 
                        <!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" size="large">Login com Facebook</fb:login-button> -->
                    </div>

                    <br class="clear" />

                    <div class="text-center block">
                        <a href="#" class="button button__block button__facebook">Entrar com Facebook</a>
                    </div>

                </form>
                
            </article>
            <div class="fb-like"
                    data-share="true"
                    data-width="450"
                    data-show-faces="true">
            </div>
        </div>

    </section>
</main>