<div class="user__review__descount">
    <svg>
        <use xlink:href="assets/images/svg.svg#star"></use>
    </svg> <img src="assets/images/banners/logo.png">
    <p>20% <small>de desconto</small></p><a href="#">Resgatar</a>
</div>

