<aside class="filter js-accordeon accordeon-item">
    <h3 class="accordeon-question">
        <a href="#">
            <span class="filter__title">Filtro 
                <svg>
                    <use xlink:href="assets/images/svg.svg#left"/>
                </svg>
            </span>
        </a>
    </h3>
    <div class="accordeon-anwser display">
        <div class="filter__seach">
            <input type="text" class="filter__seach--input" placeholder="Busque por categoria, preço...">
            <a href="busca.html" class="filter__seach--button">
                <svg>
                    <use xlink:href="assets/images/svg.svg#search"></use>
                </svg>
            </a>
        </div>
        <section class="filter__group">
            <dl class="filter__group__list"><dt class="filter__group__list--title"><span class="name">Ordenar Por:</span></dt>
                <a href="#">
                    <dd class="filter__group__list--options">Relevancia</dd>
                </a>
                <a href="#">
                    <dd class="filter__group__list--options">menor Preço</dd>
                </a>
                <a href="#">
                    <dd class="filter__group__list--options">maior Preço</dd>
                </a>
            </dl>
            <dl class="filter__group__list"><dt class="filter__group__list--title"><span class="name">Categorias:</span></dt>
                <a href="#">
                    <dd class="filter__group__list--options">Automotivos</dd>
                </a>
                <a href="#">
                    <dd class="filter__group__list--options">Imóveis</dd>
                </a>
                <a href="#">
                    <dd class="filter__group__list--options">Saúde e Beleza</dd>
                </a>
                <a href="#">
                    <dd class="filter__group__list--options">Tecnologia e Informática</dd>
                </a>
                <a href="#">
                    <dd class="filter__group__list--options">Entreterimento e Lazer</dd>
                </a>
            </dl>
            <dl class="filter__group__list"><dt class="filter__group__list--title"><span class="name">Preço:</span></dt>
                <a href="#">
                    <dd class="filter__group__list--options">Até D$50,00</dd>
                </a>
                <a href="#">
                    <dd class="filter__group__list--options">D$50,00 a D$100,00</dd>
                </a>
                <a href="#">
                    <dd class="filter__group__list--options">Mais de D$100,00</dd>
                </a>
                <dd class="filter__group__list--options" style="display: flex">
                    <input type="text" placeholder="min"><span>- </span>
                    <input type="text" placeholder="max">
                </dd>
            </dl>
        </section>
    </div>
</aside>
