<section class="store__main">
    <div class="wrapper">
        <h3 class="store__awards__title"><span>Pizzas</span></h3>
        <section class="user__content user__content--products">
            <article class="user__content__item user__content__item--product">
                <svg class="user__content__item__flame">
                    <use xlink:href="assets/images/svg.svg#flame"></use>
                </svg>
                <div class="user__content__item__image img-promotion">
                    <div class="input-increment js-input-increment">
                        <div class="input-increment__button less js-button-increment">-</div>
                        <input type="text" step="1" min="1" max="100000" value="0">
                        <div class="input-increment__button more js-button-increment">+</div>
                    </div>
                    <div class="user__content__item__image--position slick-slide slick-cloned slick-active" data-slick-index="-1" aria-hidden="false" tabindex="-1">
                        <div class="user__content__item__image--spotlight">
                            <div class="user__content__item__image--spotlight__details">
                                <h3 class="user__content__item__image--spotlight__title"><a href="lojas.html" tabindex="0">Esfirra de Calabreza com Mussarela</a></h3>
                                <p class="user__content__item__image--spotlight__text"><a href="lojas.html" tabindex="0"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis.</span></a></p>
                            </div>
                        </div><img src="assets/images/highlights/1.jpg" alt="Pizzaria 15"></div>
                </div>
                <div class="user__content__item__text">
                    <p><a href="lojas.html" tabindex="0"><span>R$ 220<small>,00</small></span></a></p>
                </div>
            </article>
            <article class="user__content__item user__content__item--product">
                <svg class="user__content__item__flame">
                    <use xlink:href="assets/images/svg.svg#flame"></use>
                </svg>
                <div class="user__content__item__image img-promotion">
                    <div class="input-increment js-input-increment">
                        <div class="input-increment__button less js-button-increment">-</div>
                        <input type="text" step="1" min="1" max="100000" value="0">
                        <div class="input-increment__button more js-button-increment">+</div>
                    </div>
                    <div class="user__content__item__image--position slick-slide slick-cloned slick-active" data-slick-index="-1" aria-hidden="false" tabindex="-1">
                        <div class="user__content__item__image--spotlight">
                            <div class="user__content__item__image--spotlight__details">
                                <h3 class="user__content__item__image--spotlight__title"><a href="lojas.html" tabindex="0">Esfirra de Calabreza com Mussarela</a></h3>
                                <p class="user__content__item__image--spotlight__text"><a href="lojas.html" tabindex="0"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis.</span></a></p>
                            </div>
                        </div><img src="assets/images/highlights/1.jpg" alt="Pizzaria 15"></div>
                </div>
                <div class="user__content__item__text">
                    <p><a href="lojas.html" tabindex="0"><span>R$ 220<small>,00</small></span></a></p>
                </div>
            </article>
            <article class="user__content__item user__content__item--product">
                <svg class="user__content__item__flame">
                    <use xlink:href="assets/images/svg.svg#flame"></use>
                </svg>
                <div class="user__content__item__image img-promotion">
                    <div class="input-increment js-input-increment">
                        <div class="input-increment__button less js-button-increment">-</div>
                        <input type="text" step="1" min="1" max="100000" value="0">
                        <div class="input-increment__button more js-button-increment">+</div>
                    </div>
                    <div class="user__content__item__image--position slick-slide slick-cloned slick-active" data-slick-index="-1" aria-hidden="false" tabindex="-1">
                        <div class="user__content__item__image--spotlight">
                            <div class="user__content__item__image--spotlight__details">
                                <h3 class="user__content__item__image--spotlight__title"><a href="lojas.html" tabindex="0">Esfirra de Calabreza com Mussarela</a></h3>
                                <p class="user__content__item__image--spotlight__text"><a href="lojas.html" tabindex="0"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis.</span></a></p>
                            </div>
                        </div><img src="assets/images/highlights/1.jpg" alt="Pizzaria 15"></div>
                </div>
                <div class="user__content__item__text">
                    <p><a href="lojas.html" tabindex="0"><span>R$ 220<small>,00</small></span></a></p>
                </div>
            </article>
            <article class="user__content__item user__content__item--product">
                <svg class="user__content__item__flame">
                    <use xlink:href="assets/images/svg.svg#flame"></use>
                </svg>
                <div class="user__content__item__image img-promotion">
                    <div class="input-increment js-input-increment">
                        <div class="input-increment__button less js-button-increment">-</div>
                        <input type="text" step="1" min="1" max="100000" value="0">
                        <div class="input-increment__button more js-button-increment">+</div>
                    </div>
                    <div class="user__content__item__image--position slick-slide slick-cloned slick-active" data-slick-index="-1" aria-hidden="false" tabindex="-1">
                        <div class="user__content__item__image--spotlight">
                            <div class="user__content__item__image--spotlight__details">
                                <h3 class="user__content__item__image--spotlight__title"><a href="lojas.html" tabindex="0">Esfirra de Calabreza com Mussarela</a></h3>
                                <p class="user__content__item__image--spotlight__text"><a href="lojas.html" tabindex="0"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis.</span></a></p>
                            </div>
                        </div><img src="assets/images/highlights/1.jpg" alt="Pizzaria 15"></div>
                </div>
                <div class="user__content__item__text">
                    <p><a href="lojas.html" tabindex="0"><span>R$ 220<small>,00</small></span></a></p>
                </div>
            </article>
            <article class="user__content__item user__content__item--product">
                <svg class="user__content__item__flame">
                    <use xlink:href="assets/images/svg.svg#flame"></use>
                </svg>
                <div class="user__content__item__image img-promotion">
                    <div class="input-increment js-input-increment">
                        <div class="input-increment__button less js-button-increment">-</div>
                        <input type="text" step="1" min="1" max="100000" value="0">
                        <div class="input-increment__button more js-button-increment">+</div>
                    </div>
                    <div class="user__content__item__image--position slick-slide slick-cloned slick-active" data-slick-index="-1" aria-hidden="false" tabindex="-1">
                        <div class="user__content__item__image--spotlight">
                            <div class="user__content__item__image--spotlight__details">
                                <h3 class="user__content__item__image--spotlight__title"><a href="lojas.html" tabindex="0">Esfirra de Calabreza com Mussarela</a></h3>
                                <p class="user__content__item__image--spotlight__text"><a href="lojas.html" tabindex="0"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis.</span></a></p>
                            </div>
                        </div><img src="assets/images/highlights/1.jpg" alt="Pizzaria 15"></div>
                </div>
                <div class="user__content__item__text">
                    <p><a href="lojas.html" tabindex="0"><span>R$ 220<small>,00</small></span></a></p>
                </div>
            </article>
            <article class="user__content__item user__content__item--product">
                <svg class="user__content__item__flame">
                    <use xlink:href="assets/images/svg.svg#flame"></use>
                </svg>
                <div class="user__content__item__image img-promotion">
                    <div class="input-increment js-input-increment">
                        <div class="input-increment__button less js-button-increment">-</div>
                        <input type="text" step="1" min="1" max="100000" value="0">
                        <div class="input-increment__button more js-button-increment">+</div>
                    </div>
                    <div class="user__content__item__image--position slick-slide slick-cloned slick-active" data-slick-index="-1" aria-hidden="false" tabindex="-1">
                        <div class="user__content__item__image--spotlight">
                            <div class="user__content__item__image--spotlight__details">
                                <h3 class="user__content__item__image--spotlight__title"><a href="lojas.html" tabindex="0">Esfirra de Calabreza com Mussarela</a></h3>
                                <p class="user__content__item__image--spotlight__text"><a href="lojas.html" tabindex="0"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis.</span></a></p>
                            </div>
                        </div><img src="assets/images/highlights/1.jpg" alt="Pizzaria 15"></div>
                </div>
                <div class="user__content__item__text">
                    <p><a href="lojas.html" tabindex="0"><span>R$ 220<small>,00</small></span></a></p>
                </div>
            </article>
            <article class="user__content__item user__content__item--product">
                <svg class="user__content__item__flame">
                    <use xlink:href="assets/images/svg.svg#flame"></use>
                </svg>
                <div class="user__content__item__image img-promotion">
                    <div class="input-increment js-input-increment">
                        <div class="input-increment__button less js-button-increment">-</div>
                        <input type="text" step="1" min="1" max="100000" value="0">
                        <div class="input-increment__button more js-button-increment">+</div>
                    </div>
                    <div class="user__content__item__image--position slick-slide slick-cloned slick-active" data-slick-index="-1" aria-hidden="false" tabindex="-1">
                        <div class="user__content__item__image--spotlight">
                            <div class="user__content__item__image--spotlight__details">
                                <h3 class="user__content__item__image--spotlight__title"><a href="lojas.html" tabindex="0">Esfirra de Calabreza com Mussarela</a></h3>
                                <p class="user__content__item__image--spotlight__text"><a href="lojas.html" tabindex="0"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis.</span></a></p>
                            </div>
                        </div><img src="assets/images/highlights/1.jpg" alt="Pizzaria 15"></div>
                </div>
                <div class="user__content__item__text">
                    <p><a href="lojas.html" tabindex="0"><span>R$ 220<small>,00</small></span></a></p>
                </div>
            </article>
            <article class="user__content__item user__content__item--product">
                <svg class="user__content__item__flame">
                    <use xlink:href="assets/images/svg.svg#flame"></use>
                </svg>
                <div class="user__content__item__image img-promotion">
                    <div class="input-increment js-input-increment">
                        <div class="input-increment__button less js-button-increment">-</div>
                        <input type="text" step="1" min="1" max="100000" value="0">
                        <div class="input-increment__button more js-button-increment">+</div>
                    </div>
                    <div class="user__content__item__image--position slick-slide slick-cloned slick-active" data-slick-index="-1" aria-hidden="false" tabindex="-1">
                        <div class="user__content__item__image--spotlight">
                            <div class="user__content__item__image--spotlight__details">
                                <h3 class="user__content__item__image--spotlight__title"><a href="lojas.html" tabindex="0">Esfirra de Calabreza com Mussarela</a></h3>
                                <p class="user__content__item__image--spotlight__text"><a href="lojas.html" tabindex="0"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis.</span></a></p>
                            </div>
                        </div><img src="assets/images/highlights/1.jpg" alt="Pizzaria 15"></div>
                </div>
                <div class="user__content__item__text">
                    <p><a href="lojas.html" tabindex="0"><span>R$ 220<small>,00</small></span></a></p>
                </div>
            </article>
        </section>
    </div>
</section>
