<main class="user">

    <section class="user__box">
        <ul>
            <li><a routerLink="/usuario" (click)="clickEventActive($event)" [ngClass]="{'selected': status}">minhas delys</a></li>
            <li><a [routerLink]="['perfil']" (click)="clickEvent($event)" routerLinkActive="selected">Perfil</a></li>
            <li><a [routerLink]="['cupons']" (click)="clickEvent($event)" routerLinkActive="selected">Cupons</a></li>
            <li><a [routerLink]="['resgate']" (click)="clickEvent($event)" routerLinkActive="selected">Resgates</a></li>
            <li><a [routerLink]="['comentarios']" (click)="clickEvent($event)" routerLinkActive="selected">comentários</a></li>
        </ul>
    </section>

    <router-outlet></router-outlet>
    
</main>
