
<!-- MODAL - REGIÃO -->
<a href="#modalRegiao" class="hidden js-modal">modalRegiao</a>
<section id="modalRegiao" class="window small">
    <div class="modal-content">
        <a href="#" class="btn-primary-radius btn-primary-inline close">X
        </a>
        <div class="modal-box">
                <div class="modal-box-header">
                    <div class="modal-box-header text-center">
                        <h2>Sua região</h2>
                    </div>
                </div>
            <div class="modal-box-body">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <input type="text" placeholder="Assignee" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </form>

                <fieldset class="form">
                    <!-- <div class="form-group">
                        <label>UF</label>
                        <input type="text" class="form-group__ipt text-center" placeholder="UF" />
                    </div> -->
                    <div class="form-group">
                        <label>Cidade</label>
                        <input type="text" class="form-group__ipt text-center" 
                        (keyup)="searchOnKeyUp($event)" 
                        (keyup.enter)="searchExecute(iptRegion.value)" 
                        (blur)="searchExecute(iptRegion.value)" 
                        #iptRegion
                        placeholder="Digite sua cidade" />
                        {{ cityTerms }}
                    </div>                    
                    <div class="form-group">
                        <a href="#" class="button button__block">Selecionar</a>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</section>