<!-- MODAL - PADRAO -->
<a href="#modalPadrao" class="hidden js-modal">modalPadrao</a>
<section id="modalPadrao" class="window small">
    <div class="modal-content">
        <a href="#" class="btn-primary-radius btn-primary-inline close">X
        </a>
        <div class="modal-box">
            <div class="modal-box-header">
                <div class="modal-box-header text-center">
                    <!-- <h2>ATENÇÃO</h2> -->
                </div>
            </div>
            <div class="modal-box-body text-center">
                <br class="clear" />
                <p class="msg">...</p>
            </div>
        </div>
    </div>
</section>


