<div class="form__primary">
    <article class="search__filter filter__radius search__filter__form search__filter__opacity search__filter__float" style="display: block;">
        <div class="wrapper wrapper__content">
            <h2 class="user__review__title--primary">Para sua Empresa</h2>
            <br class="clear" />
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form__control">
                        <label class="label">*CPF</label>
                        <input type="text" class="mask-cpf"/>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6">
                    <div class="form__control">
                        <label class="label">*Nome</label>
                        <input type="text"/>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6">
                    <div class="form__control">
                        <label class="label">*E-mail</label>
                        <input type="text" class="mask-date js-date-valid"/>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6">
                    <div class="form__control">
                        <label class="label">*Telefone</label>
                        <input type="text" class="mask-date js-date-valid"/>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="captcha">
                        <div class="g-recaptcha" data-sitekey="6Le6GJMUAAAAAKTksrrl1o7GTxVKFZOXX1ecHYhL" data-callback="verifyCallback"></div>
                    </div>
                </div>
            </div>

            <br class="clear" />

            <div class="text-center block">
                <a href="#" class="button button button__block">Cadastrar</a> 
                <!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" size="large">Login com Facebook</fb:login-button> -->
            </div>

        </div>
    </article>
    <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
</div>

