<main class="store">
    <div class="store__main bg-Promotion">
        <div class="wrapper resposivo">
            <app-promotions-filter></app-promotions-filter>
            <section class="width--content">
                <h3 class="store__awards__title"><span>destaque</span></h3>
                <app-promotions-detach></app-promotions-detach>
                <h3 class="store__awards__title"><span>Promoções</span></h3>
                <app-promotions-list></app-promotions-list>
            </section>
        </div>
    </div>
</main>