<span class="region__link">
	<svg>
		<use xlink:href="assets/images/svg.svg#pin" />
	</svg>
	<div class="region__info">
		<form class="region__info-form">
			<mat-form-field class="region__info-full-width">
				<input type="text" placeholder="Sua região" aria-label="Sua região" matInput [formControl]="myControl" 
					[matAutocomplete]="auto" 
					[(ngModel)]="this._commonUser.usrCity"
					(keyup)="getServiceCity($event)" />
					
				<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
					<mat-option *ngFor="let option of filteredOptions | async" [value]="option.city1" (click)="selectCity(option.city1)">
						{{option.stateId}} - {{option.city1}}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
		</form>
		<!-- <span>Sua região</span>
		<strong>Jundiaí - SP</strong> -->
	</div>
</span>

