<section class="slider">
    <div class="wrapper">
        <h2 class="slider__title">Recomendado</h2>
    </div>
    <div class="slider__container slider--secundary">
        <div class="js-quaternary-slider">
            
            <div class="slider--secundary__item" *ngFor="let option of sliderOptions">
                <!-- *ngFor="let option of sliderOptions" -->
                <div class="slider--secundary__content">
                    <div class="slider--secundary__content__details">
                        <h3 class="slider--secundary__content__title"><a href="lojas.html">Pizzaria do Pepe</a></h3>
                        <p class="slider--secundary__content__text"><a href="lojas.html">Pizzas, brotos e esfihas</a></p>
                    </div>

                    <div class="slider--secundary__rating">
                        <div class="slider--secundary__rating__stars">
                            <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                <use xlink:href="assets/images/svg.svg#star" />
                            </svg>
                            <svg class="slider--secundary__rating__icon">
                                <use xlink:href="assets/images/svg.svg#star" />
                            </svg>
                            <svg class="slider--secundary__rating__icon">
                                <use xlink:href="assets/images/svg.svg#star" />
                            </svg>
                            <svg class="slider--secundary__rating__icon">
                                <use xlink:href="assets/images/svg.svg#star" />
                            </svg>
                            <svg class="slider--secundary__rating__icon">
                                <use xlink:href="assets/images/svg.svg#star" />
                            </svg>
                        </div>
                        <span class="slider--secundary__rating__count">Nota <strong>7,5</strong></span>
                    </div>

                    <div class="slider--secundary__action">
                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#hearth" />
                        </svg>
                        <span class="slider--secundary__action__count">130</span>

                        <svg class="slider--secundary__action__icon">
                            <use xlink:href="assets/images/svg.svg#like" />
                        </svg>
                        <span class="slider--secundary__action__count">125</span>
                    </div>
                    
                </div>
                <img src="{{option.logoImgPath}}" alt="Pizzaria do Pepe">
                <!-- <img src="{{http}}{{option.pathImage}}" alt="Banner" /> -->
            </div>
            
        </div>
    </div>
</section>