<section class="store__main">
    <div class="wrapper">
        <div class="comments-container">
            <ul id="comments-list" class="comments-list">
                <li>
                    <div class="comment-main-level">
                        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name">Agustin Ortiz</h6><span>há 20 minutos</span>
                                <div class="user__content__item__rate comment-rate">
                                    <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                        <use xlink:href="assets/images/svg.svg#star"></use>
                                    </svg>
                                    <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                        <use xlink:href="assets/images/svg.svg#star"></use>
                                    </svg>
                                    <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                        <use xlink:href="assets/images/svg.svg#star"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?</div>
                            <svg class="comment-reply">
                                <use xlink:href="assets/images/svg.svg#reply"></use>
                            </svg>
                        </div>
                    </div>
                    <ul class="comments-list reply-list">
                        <li>
                            <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name">Lorena Rojero</h6><span>há 10 minutos</span>
                                    <div class="user__content__item__rate comment-rate">
                                        <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                            <use xlink:href="assets/images/svg.svg#star"></use>
                                        </svg>
                                        <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                            <use xlink:href="assets/images/svg.svg#star"></use>
                                        </svg>
                                        <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                            <use xlink:href="assets/images/svg.svg#star"></use>
                                        </svg>
                                        <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                            <use xlink:href="assets/images/svg.svg#star"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?</div>
                            </div>
                        </li>
                        <li>
                            <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg"></div>
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name by-author">Agustin Ortiz</h6><span>há 10 minutos</span>
                                    <div class="user__content__item__rate comment-rate">
                                        <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                            <use xlink:href="assets/images/svg.svg#star"></use>
                                        </svg>
                                        <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                            <use xlink:href="assets/images/svg.svg#star"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?</div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="comment-main-level">
                        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"></div>
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name">Lorena Rojero</h6><span>há 10 minutos</span>
                                <div class="user__content__item__rate comment-rate">
                                    <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                        <use xlink:href="assets/images/svg.svg#star"></use>
                                    </svg>
                                    <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                        <use xlink:href="assets/images/svg.svg#star"></use>
                                    </svg>
                                    <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                        <use xlink:href="assets/images/svg.svg#star"></use>
                                    </svg>
                                    <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                        <use xlink:href="assets/images/svg.svg#star"></use>
                                    </svg>
                                    <svg class="slider--secundary__rating__icon slider--secundary__rating__icon--selected">
                                        <use xlink:href="assets/images/svg.svg#star"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?</div>
                            <svg class="comment-reply">
                                <use xlink:href="assets/images/svg.svg#reply"></use>
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="comments-box">
    <div class="status-upload">
        <h3 class="store__awards__title store__awards__title--comment"><span>Comentar</span></h3>
        <form>
            <textarea placeholder="Qual sua avalição dessa loja?"></textarea>
            <button type="button" class="button button__block">Enviar</button>
        </form>
    </div>
</section>
